---
---

    <div class="floating-icon">
      <a href="https://api.whatsapp.com/send?phone=5493814181049" target="_blank">
        <img src="../../iconos/whatsapp2.png" class="md:m-8 m-2 md:w-14 xl:w-16 w-12 hover:scale-[1.1] transition-all " alt="whatsapp-icon">
      </a>
    <!-- </div> -->

    <style>
      .floating-icon {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1000;
        text-align: center;
    </style>